/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
$hamburger-closed: (
  name: 'hamburger-closed',
  x: 150px,
  y: 0px,
  offset-x: -150px,
  offset-y: 0px,
  width: 128px,
  height: 128px,
  total-width: 2826px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-6b465141ad2d36c73f398126b7695d60.png'
);
$hamburger-open: (
  name: 'hamburger-open',
  x: 298px,
  y: 0px,
  offset-x: -298px,
  offset-y: 0px,
  width: 128px,
  height: 128px,
  total-width: 2826px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-6b465141ad2d36c73f398126b7695d60.png'
);
$icon-facebook: (
  name: 'icon-facebook',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 50px,
  height: 50px,
  total-width: 2826px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-6b465141ad2d36c73f398126b7695d60.png'
);
$icon-twitter: (
  name: 'icon-twitter',
  x: 70px,
  y: 0px,
  offset-x: -70px,
  offset-y: 0px,
  width: 60px,
  height: 49px,
  total-width: 2826px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-6b465141ad2d36c73f398126b7695d60.png'
);
$play-sprite: (
  name: 'play-sprite',
  x: 626px,
  y: 0px,
  offset-x: -626px,
  offset-y: 0px,
  width: 720px,
  height: 436px,
  total-width: 2826px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-6b465141ad2d36c73f398126b7695d60.png'
);
$player-icons-gray: (
  name: 'player-icons-gray',
  x: 1366px,
  y: 0px,
  offset-x: -1366px,
  offset-y: 0px,
  width: 720px,
  height: 1308px,
  total-width: 2826px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-6b465141ad2d36c73f398126b7695d60.png'
);
$player-icons: (
  name: 'player-icons',
  x: 2106px,
  y: 0px,
  offset-x: -2106px,
  offset-y: 0px,
  width: 720px,
  height: 1308px,
  total-width: 2826px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-6b465141ad2d36c73f398126b7695d60.png'
);
$triangle-white: (
  name: 'triangle-white',
  x: 446px,
  y: 0px,
  offset-x: -446px,
  offset-y: 0px,
  width: 160px,
  height: 192px,
  total-width: 2826px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-6b465141ad2d36c73f398126b7695d60.png'
);
$spritesheet: (
  width: 2826px,
  height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-6b465141ad2d36c73f398126b7695d60.png',
  sprites: ($hamburger-closed, $hamburger-open, $icon-facebook, $icon-twitter, $play-sprite, $player-icons-gray, $player-icons, $triangle-white, )
);

/*
The provided mixins are intended to be used with variables directly

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: map-get($sprite, 'width');
}

@mixin sprite-height($sprite) {
  height: map-get($sprite, 'height');
}

@mixin sprite-position($sprite) {
  background-position: map-get($sprite, 'offset-x') map-get($sprite, 'offset-y');
}

@mixin sprite-image($sprite) {
  background-image: url(map-get($sprite, 'image'));
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites(map-get($spritesheet, 'sprites'));
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: map-get($sprite, 'name');
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
