/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
$hamburger-closed: (
  name: 'hamburger-closed',
  x: 210px,
  y: 0px,
  offset-x: -210px,
  offset-y: 0px,
  width: 128px,
  height: 128px,
  total-width: 2886px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-86d8479d681ada72f0f1e2333757210f.png'
);
$hamburger-open: (
  name: 'hamburger-open',
  x: 358px,
  y: 0px,
  offset-x: -358px,
  offset-y: 0px,
  width: 128px,
  height: 128px,
  total-width: 2886px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-86d8479d681ada72f0f1e2333757210f.png'
);
$icon-facebook: (
  name: 'icon-facebook',
  x: 60px,
  y: 0px,
  offset-x: -60px,
  offset-y: 0px,
  width: 50px,
  height: 50px,
  total-width: 2886px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-86d8479d681ada72f0f1e2333757210f.png'
);
$icon-location: (
  name: 'icon-location',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 40px,
  height: 40px,
  total-width: 2886px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-86d8479d681ada72f0f1e2333757210f.png'
);
$icon-twitter: (
  name: 'icon-twitter',
  x: 130px,
  y: 0px,
  offset-x: -130px,
  offset-y: 0px,
  width: 60px,
  height: 49px,
  total-width: 2886px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-86d8479d681ada72f0f1e2333757210f.png'
);
$play-sprite: (
  name: 'play-sprite',
  x: 686px,
  y: 0px,
  offset-x: -686px,
  offset-y: 0px,
  width: 720px,
  height: 436px,
  total-width: 2886px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-86d8479d681ada72f0f1e2333757210f.png'
);
$player-icons-gray: (
  name: 'player-icons-gray',
  x: 1426px,
  y: 0px,
  offset-x: -1426px,
  offset-y: 0px,
  width: 720px,
  height: 1308px,
  total-width: 2886px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-86d8479d681ada72f0f1e2333757210f.png'
);
$player-icons: (
  name: 'player-icons',
  x: 2166px,
  y: 0px,
  offset-x: -2166px,
  offset-y: 0px,
  width: 720px,
  height: 1308px,
  total-width: 2886px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-86d8479d681ada72f0f1e2333757210f.png'
);
$triangle-white: (
  name: 'triangle-white',
  x: 506px,
  y: 0px,
  offset-x: -506px,
  offset-y: 0px,
  width: 160px,
  height: 192px,
  total-width: 2886px,
  total-height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-86d8479d681ada72f0f1e2333757210f.png'
);
$spritesheet: (
  width: 2886px,
  height: 1308px,
  image: '/sites/all/themes/custom/clocktower/images/generated/sprite-86d8479d681ada72f0f1e2333757210f.png',
  sprites: ($hamburger-closed, $hamburger-open, $icon-facebook, $icon-location, $icon-twitter, $play-sprite, $player-icons-gray, $player-icons, $triangle-white, )
);

/*
The provided mixins are intended to be used with variables directly

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: map-get($sprite, 'width');
}

@mixin sprite-height($sprite) {
  height: map-get($sprite, 'height');
}

@mixin sprite-position($sprite) {
  background-position: map-get($sprite, 'offset-x') map-get($sprite, 'offset-y');
}

@mixin sprite-image($sprite) {
  background-image: url(map-get($sprite, 'image'));
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites(map-get($spritesheet, 'sprites'));
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: map-get($sprite, 'name');
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
