# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

.DS_Store
sites/.DS_Store
sites/default/.DS_Store
sites/all/themes/*/.sass-cache/*
/sites/all/themes/clocktower/css/*
/sites/all/themes/clocktower/js/clocktower.behaviors.min.js
/sites/all/themes/clocktower/images/generated/*