$gray: #f8f8f8;
$light-gray: #f4f4f4;
$medium-gray: #595959;
$dark-gray: #343434;
$black: #000000;
$white: #ffffff;
$blue: #009ddc;
$yellow: #FBCE29;
$red: #ef4135;
$green: #00b200;
$facebook-blue: #4b71af;
$twitter-green: #4cccf4;