$fg: 'frankgoth_cn_btregular', Helvetica, Arial, sans-serif;
$fb: 'FranklinGothicBook', Helvetica, Arial, sans-serif;
$fc: 'FranklinGothicBookCondensed', Helvetica, Arial, sans-serif;
$fbc: 'FranklinGothicBookBoldCondensed', Helvetica, Arial, sans-serif;
$ta: 'Tahoma', Helvetica, Arial, sans-serif;
$tb: 'TahomaBold', Helvetica, Arial, sans-serif;