#header {
  @include clearfix;
  @include container;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  padding: 10px 0;
  background: $gray;
  border-bottom: 1px solid $medium-gray;

  @include breakpoint($bp960) {
    position: static;
    padding-bottom: 15px;
  }
  .site-logo {
    display: block;
    width: 79px;
    height: auto;
    float: left;
    margin-left: 2%;

    @include breakpoint($bp580) {
      width: 161px;
    }

    @include breakpoint($bp960) {
      width: 185px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .header__region {
    clear: none;
  }

  .header-links {
    @include clearfix;
    float: right;
    margin-right: 19%;

    @include breakpoint($bp580) {
      margin-right: 6%;
    }

    @include breakpoint($bp960) {
      margin-right: 0;
    }
    .nav-buttons {
      @include clearfix;
      float: left;
      margin-top: 8px;
      font-family: $fc;

      @include breakpoint($bp580) {
        margin-top: 26px;
      }

      @include breakpoint($bp960) {
        margin-top: 62px;
      }

      .play-button {
        float: left;
        position: relative;
        width: 74px;
        height: 74px;

        @include breakpoint($bp580) {
          width: 81px;
          height: 81px;
        }
        p {
          display: none;
          position: absolute;
          top: 113%;
          text-transform: uppercase;
          font-family: $fbc;
          font-size: 16px;
          color: $black;
          text-align: center;

          @include breakpoint($bp580) {
            display: block;
          }
        }
      }
      .donate-subscribe {
        display: none;
          margin: 0 30px;
          float: left;

          @include breakpoint($bp580) {
            display: block;
          }
          a {
            display: block;
            text-transform: uppercase;
            font-size: 16px;
            margin-top: 13px;
            padding: 7px 10px;
            border: 1px solid $dark-gray;
            background: $white;
            text-align: center;
            font-family: $fbc;

            @include breakpoint($bp580) {
              font-size: 21px;
              padding: 7px 19px;
            }

            &:hover {
              color: $blue;
            }
          }
        }
    }
    .region-header {
      display: none;
      float: left;
      margin-top: 121px;
      margin-right: 40px;

      @include breakpoint($bp960) {
        display: block;
      }

      #block-search-form {

        .form-item {
          margin: 0;
          float: left;
          display: block;
        }
        input[type=text] {
          width: 170px;
          border: 1px solid $black;
          background: $white;
          font-family: $fbc;
          font-size: 19px;
          padding: 10px 11px 8px 11px;
          line-height: normal;
          color: $black;

          &::-webkit-input-placeholder {
             color: $black;
          }

          &:-moz-placeholder { /* Firefox 18- */
             color: $black;  
          }

          &::-moz-placeholder {  /* Firefox 19+ */
             color: $black;  
          }

          &:-ms-input-placeholder {  
             color: $black;  
          }
        }
        input[type=submit] {
          display: none;
        }
      }
    }
  }
}