.bean-homepage-links {
  width: 98%;
  margin: auto;
  .content {
    margin: 44px auto 700px;
    @include clearfix;
  }
  a {
    display: block;
    position: relative;
    width: 49.5%;
    height: 284px;
    float: left;
    margin-bottom: 10px;
    margin-right: 1%;
    font-family: $fb;
    letter-spacing: -.4px;
    &:nth-child(even) {
      margin-right: 0;
    }
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      .title {
        display: none;
      }
      .description {
        display: block;
      }
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $black;
       -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: alpha(opacity=30);
      -moz-opacity: 0.3;
      -khtml-opacity: 0.3;
      opacity: 0.3;
      z-index: 100;
    }
    div {
      position: absolute;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      color: $white;
      z-index: 200;
    }
    .title {
      font-size: 34px;
      top: 128px;
    }
    .description {
      display: none;
      font-size: 24px;
      padding: 40px;
      top: 85px;
      line-height: 30px;
    }
  }
}