.bean-homepage-links {
  width: 100%;
  margin: auto;
  .content {
    margin: 24px auto 400px;
    @include clearfix;
  }
  a {
    display: block;
    position: relative;
    float: none;
    width: 98%;
    margin: auto;
    height: 180px;
    margin-bottom: 2px;
    font-family: $fb;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint($bp580) {
      height: 215px;

    }

    @include breakpoint($bp960) {
      float: left;
      width: 49.8%;
      height: 284px;
      margin-right: 0.4%;
      margin-left: 0;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    &:hover {
      .title {
        display: none;
      }
      .description {
        display: block;
      }
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $black;
       -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: alpha(opacity=30);
      -moz-opacity: 0.3;
      -khtml-opacity: 0.3;
      opacity: 0.3;
      z-index: 100;
    }
    div {
      position: absolute;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      color: $white;
      z-index: 200;
    }
    .title {
      font-family: $fc;
      font-size: 26px;
      top: 50%;
      -ms-transform: translateY(-50%) ;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      @include breakpoint($bp580) {
        font-size: 32px;
      }

      @include breakpoint($bp960) {
        font-size: 38px;
      }
    }
    .description {
      display: none;
      font-family: $fb;
      font-size: 22px;
      padding: 40px;
      top: 50%;
      -ms-transform: translateY(-50%) ;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      line-height: 1.2;

      @include breakpoint($bp580) {
        font-size: 25px;
      }

      @include breakpoint($bp960) {
        font-size: 30px;
      }

    }
  }
}