body {
  font-family: $ta;
  background: $gray;
}

#content {
  background: $gray;
  @include container;
  padding: 0 2%;
}

.label {
  display: inline-block;
  color: $white;
  background: $black;
  padding: 10px 24px 8px;
  font-family: $fb;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: .03em;
}

#page {
  margin-top: 107px;
  
  @include breakpoint($bp580) {
    margin-top: 189px;
  }

  @include breakpoint($bp960) {
    margin-top: 0;
  } 
}