body {
  font-family: $fb;
  background: $white;
}

#page {
  background: $white;
  @include container;
}

.label {
  display: inline-block;
  color: $white;
  background: $black;
  padding: 9px 12px 7px;
  font-family: $fc;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 16px;
}