.mobile-nav {
  display: block;
  font-family: $fg;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: gray;
  @include breakpoint($bp960) {
    display: none !important;
  }
  .responsive-menu {
    display: none;
  }
  .menu-btn {
    background: url('../images/icons2x/hamburger-open.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
}
#admin-menu-wrapper {
  display: none;
  @include breakpoint($bp960) {
    display: block !important;
  }
}