.mobile-nav {
  display: block;
  font-family: $fc;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  text-align: center;
  @include breakpoint($bp960) {
    display: none !important;
  }

  li {

    a {
      display: block;
      font-size: 17px;
      color: $black;
      padding: 6px 0;
    }
  }

  .responsive-menu {
    display: none;
    overflow-y: auto !important;
    padding: 15px 0;
  }
  .menu-btn {
    background: url('../images/icons2x/hamburger-open.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
}
#admin-menu-wrapper {
  display: none;
  @include breakpoint($bp960) {
    display: block !important;
  }
}