.node {
  @include clearfix;
  margin-top: 18px;
  .unpublished {
    text-transform: uppercase;
  }
  &.node-unpublished {
    background: $white;
  }
  .node-header {
    @include clearfix;
    padding: 2px 2% 2px 0;
    margin: 0 2%;
    border-bottom: 1px solid $medium-gray;
    .node-type {
      a {
        float: left;
        margin-bottom: 13px;
        &.show {
          &:hover {
            color: $blue;
          }
        }
      }
    }
    .node-header-info {
      float: left;
      margin: 7px 3% 9px;
      font-size: 18px;
      line-height: 24px;
      a {
        display: inline-block;
        font-family: $fc;
        border-bottom: 1px solid $medium-gray;
        padding-bottom: 2px;
        margin-bottom: 12px;
        &:hover {
          color: $blue;
          border-bottom: 1px solid $blue;
        }
      }
      .field-type-taxonomy-term-reference {
        a {
          border: 0;
          text-transform: uppercase;
        }
      }
    }
  }
  .node-body {
    border-bottom: 1px solid $medium-gray;
    padding-bottom: 20px;
    .node-text {
      @include clearfix;
      margin-left: 2%;
      .node-content {
        padding: 1.5%;
        h2 {
          font-family: $fc;
          font-size: 36px;
          padding: 11px 0;
          margin: 20px 0 0;
          line-height: 39px;
        }
        .credits {
          margin: 10px 0 17px;
          @include clearfix;
          float: left;
          .credit {
            @include clearfix;
            margin-bottom: 10px;
            h4 {
              float: left;
              margin-right: 5px;
              font-family: $fc;
              font-size: 19px;
              text-transform: uppercase;
            }
            .field {
              float: left;
              .field-item {
                float: left;
                margin-right: 5px;
              }
              a,
              p {
                display: inline-block;
                font-family: $fc;
                font-size: 19px;
                margin-bottom: 5px;
                text-transform: uppercase;
              }
              a {
                border-bottom: 1px solid $medium-gray;
              }
            }
          }
        }
        .content {
          clear: left;
          font-size: 15px;
          line-height: 25px;
          letter-spacing: -.01em;
          margin-top: 18px;
          p {
            margin-bottom: 12px;
          }
          a {
            text-decoration: underline;
          }
          .tags {
            margin-top: 22px;
            .field-item {
              display: inline-block;
              margin-right: 12px;
              margin-bottom: 12px;
            }
            .field-items,
            .field {
              display: inline;
            }
            a {
              display: inline-block;
              padding: 3px 8px;
              border: 1px solid $dark-gray;
              text-decoration: none;
              text-transform: uppercase;
              font-family: $fb;
              font-size: 14px;
              font-weight: bold;
              letter-spacing: .025em;
              &:before {
                content: "#";
              }
            }
          }
          .date-in-parts {
            span {
              font-family: $fb;
              font-size: 19px;
            }
          }
        }
      }
    }
    .node-image {
      @include clearfix;
      float: right;
      width: 50%;
      padding: 35px 1.5% 25px;
      margin-left: 5%;
      .field-name-field-image {
        margin-top: 70px;
        .field-item {
          position: relative;
          width: 32%;
          height: 118px;
          overflow: hidden;
          margin-bottom: 14px;
          margin-right: 2%;
          float: left;
          a {
            img {
              width: 150%;
              height: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
          &:first-child {
            width: 100%;
            height: auto;
            float: none;
            margin-right: 0;
            img {
              width: 100%;
              height: auto;
              position: static;
            }
          }
          &:nth-child(3n+1) {
            margin-right: 0;
          }
        }
      }
    }
  }
  .node-related {
    @include clearfix;
    padding: 28px 2%;
    .title {
      > p {
        font-size: 19px;
        text-transform: uppercase;
      }
      > a {
        display: inline-block;
        font-family: $fc;
        font-size: 35px;
        margin: 13px 0 30px;
        padding-bottom: 2px;
        border-bottom: 1px solid $medium-gray;
      }
      &.related {
        p {
          font-family: $fc;
          font-size: 35px;
          margin: 13px 0 30px;
          padding-bottom: 2px;
        }
      }
    }
    .views-row {
      &:nth-child(3n) {
        .node-teaser {
          margin-right: 0;
        }
      }
    }
  }
}