.page-player {
  #content {
    max-width: none;
    margin: 0;
  }
}

.player-container {
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover !important;
  background-position: 50% 30% !important;
  height: 100%;
  width: 100%;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $black;
    opacity: .2;
    z-index: 20;
  }

  .close-button {
    position: fixed;
    z-index: 15000;
    background: url('../images/icons2x/hamburger-closed.png') no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    top: 2%;
    right: 2%;
    cursor: pointer;
  }
  .text-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 350px;
    background: url('../images/player-overlay.png') no-repeat;
    background-size: 100% 50%;
    opacity: .6;
  }
}
.page-player {
  .player-header {
    position: relative;
    z-index: 40;
    width: 100%;
    padding-top: 8px;
    @include clearfix;
    .logo {
      display: block;
      width: 120px;
      height: 120px;
      float: left;
      margin-left: 2%;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: url("../images/player-logo.png") no-repeat;
      background-size: cover;
      @include breakpoint($bp580) {
        width: 180px;
        height: 186px;
      }
    }
    .show-details {
      width: 50%;
      float: right;
      margin-right: 6%;
      margin-top: 15px;
      @include breakpoint($bp580) {
        width: 290px;
        float: left;
        margin-left: 10%;
      }
      h2 {
        font-family: $fc;
        font-size: 17px;
        margin-bottom: 5px;
        color: $white;
        letter-spacing: .02em;
        @include breakpoint(400px) {
          font-size: 21px;
        }
        @include breakpoint($bp580) {
          font-size: 25px;
        }
        span {
          font-weight: bold;
          margin-right: 6px;
          color: $white;
          @include breakpoint($bp580) {
            margin-right: 15px;
          }
        }
      }
    }
  }

  .options-container {
    position: absolute;
    width: 90%;
    max-width: 700px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 125px;
    z-index: 1000;
    a {
      display: block;
      width: 50%;
      text-align: center;
      text-transform: uppercase;
      font-family: $fc;
      font-size: 25px;
      letter-spacing: 0.02em;
      color: $white;
      float: left;
      margin-bottom: 28px;

      @include breakpoint($bp580) {
        font-size: 32px;
      }
      &:hover {
        color: $blue;
      }
    }
  }

  .info {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow-y: scroll;
    padding: 20px 0;

    .close-button {
      width: 15px;
      height: 15px;
      right: 7.5%;
      top: 5.5%;
    }

    .body {
      width: 90%;
      margin: auto;
      font-family: $ta;
      font-size: 15px;
      background: $white;
      padding: 25px;
      line-height: 1.4;
      height: 90%;
      max-height: 90%;
      overflow-y: scroll;

      a {
        text-decoration: underline;
      }
      strong {
        font-weight: bold;
      }
      em {
        font-style: italic;
      }
    }
  }
  .embed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: $white;
    opacity: .95;
    padding: 15px 4.5%;

    h3 {
      font-family: $fbc;
      font-size: 32px;
      margin: 26px 0 21px;
    }

    textarea {
      font-family: $ta;
      font-size: 16px;
      opacity: 1;
      resize: none;
      width: 83%;
      word-wrap: break-word;
      border: 1px solid $medium-gray;
      padding: 6px 13px;
      margin-bottom: 21px;
      height: 109px;
      line-height: 1.2;
    }

    p {
      font-family: $fbc;
      font-size: 19px;
    }
  }
  .channel-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    a {
      position: relative;
      display: block;
      height: 20%;
      width: 100%;
      font-size: 20px;
      text-align: center;
      border-bottom: 1px solid $medium-gray;
      background: $white;
      opacity: .95;
      font-family: $fbc;

      @include breakpoint(440px) {
        font-size: 30px;
      }

      &:hover {
        background: $medium-gray;
        p {
          color: $white;
        }
      }

      &:last-child {
        border: 0;
      }

      p {
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        width: 100%;
        -ms-transform: translateY(-50%) ;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: $black;
      }
    }
  }
  .jp-audio {
    &.jp-state-playing {
      .play-button {
        background-position: 120% 0%;
      }
    }
  }
  .controls-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .jp-audio {
    .jp-volume-controls {
    right: 2%;
    top: 2px;
    left: auto;
    width: auto;
      button,
      .jp-volume-bar {
        margin: 0;
        position: static;
        float: left;
        margin-left: 7px;
      }
      .jp-volume-bar {
        background: $black;
        border: 1px solid $white;
        height: 7px;
        width: 65px;
        margin-top: 4px;
        .jp-volume-bar-value {
          height: 7px;
          background: $white;
        }
      }
      .jp-mute {
        background: url('../images/icons2x/player-icons.png') no-repeat;
        background-size: 58px;
        background-position: -4px -79px;
      }
      .jp-volume-max {
        width: 22px;
        background: url('../images/icons2x/player-icons.png') no-repeat;
        background-size: 58px;
        background-position: -34px -79px;
      }
    }
    .jp-progress {
      height: 25px;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      .jp-seek-bar {
        background: $light-gray;
      }
      .jp-play-bar {
        background: $blue;
      }
    }
    .jp-time-holder {
      margin: 0 0 0 2%;
      width: 100px !important;
      font-size: 26px;
      font-family: $fc;
      @include breakpoint($bp580) {
        margin: auto !important;
      }
      div {
        width: auto;
        color: $white;
      }
      .jp-duration {
        &:before {
          content: "/";
          margin-right: 3px;
        }
      }
    }
  }
  .player-controls {
    padding: 7px 0;
    background: $light-gray;
  }
  .player-buttons {
    width: 209px;
    margin: auto;
    @include clearfix;
    a,
    p {
      display: block;
      float: left;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 58px;
      height: 54px;
      border: 1px solid $medium-gray;
      background: $light-gray url('../images/icons2x/player-icons.png') no-repeat;
      border-radius: 50%;
      margin-right: 10px;
    }
    a {
      &:hover {
        background-color: $blue;
      }
    }
    p {
      background: url('../images/icons2x/player-icons-gray.png') no-repeat;
      background-color: $gray;
    }
    .play-button {
      background-size: 158%;
      background-position: -30% 0%;
    }
    .previous-node,
    .next-node {
      width: 58px;
      height: 54px;
      background-size: 130%;
    }
    .previous-node {
      background-position: 168% 50%;
    }
    .next-node {
      background-position: -72% 50%;
      margin-right: 0;
    }
  }
  .jp-progress {
    width: 100% !important;
  }
  .jp-progress,
  .jp-time-holder {
    position: static;
  }
  .jp-audio,
  .jp-audio-stream,
  .jp-video,
  .jp-interface {
    background-color: transparent;
    border: 0;
    height: auto;
    position: static;
    margin: 0;
    width: auto !important;
  }
  .jp-details,
  .jp-stop,
  .jp-repeat,
  .previous-track,
  .next-track,
  .jp-controls {
    display: none !important;
  }
}