.open-popup-link {
  display: none;
}
/* text-based popup styling */
.white-popup {
  @include clearfix;
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 600px;
  margin: 0 auto;
  .logo-text {
    @include clearfix;
  }
  .site-logo {
    width: 25%;
    float: left;
  }
  .text {
    display: block;
    float: left;
    width: 70%;
    margin-left: 3%;
    p {
      font-size: 16px;
      line-height: 1.7;
      font-family: $fc;
      margin-bottom: 15px;
    }
    .play-button {
      margin: auto;
    }
  }
}





/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}