#block-bean-radio-index {
  @include clearfix;
  padding: 20px 0;
  .radio-index-header {
    @include container;
    max-width: 900px;
    margin: 0 auto;
    
    p {
      display: block;
      font-family: $fb;
      color: $medium-gray;
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 25px;
    }
  }
  .channel-index {
    border-bottom: 1px solid $medium-gray;
    margin: 0 5%;
    .view-channels {
      width: 900px;
      margin: 0 auto;
      @include clearfix;
      .node-teaser {
        width: 30%;
        height: 427px;
        margin-right: 3.2%;
        border: 0;
        box-shadow: none;
        background: transparent;

        header {
          border: 1px solid $medium-gray;
          background: $white;

          .teaser-image {
            height: 185px;
          }
          .node-title {
            position: relative;
            height: 45px;
            text-transform: uppercase;
            a {
              display: block;
              position: absolute;
              top: 50%;
              -ms-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          }
        }

        .field-name-body {
          font-size: 15px;
          font-family: $fc;
          margin: 17px 2px;
        }
      }
    }
  }
  .series-hosts-container {
    @include clearfix;
    padding-top: 35px;
    width: 90%;
    margin: auto;

    .series-list,
    .hosts-list {
      width: 50%;
      float: left;
      .label {
        margin-bottom: 50px;
      }

      .view {
        margin: 0;
      }

      .view-content {
        margin: 0;
        @include clearfix;

        .col-left,
        .col-right {
          width: 50%;
          float: left;
          padding-right: 15%;
        }

        .views-row {
          margin: 0 0 6px 0;
          height: auto;
          width: auto;
          border: 0;
          float: none;

          a {
            display: inline-block;
            line-height: 1.4;
            padding: 5px 12px;
            font-family: $fc;
            font-size: 17px;
            &:hover {
              background: $blue;
            }
          }
        }
      }
    }
  }
}