.social-links {
  float: left;
  margin: -11px 28px 20px 0;

  @include breakpoint($bp960) {
    margin: 5px 22px 10px 0;
  }
  a {
    display: block;
    width: 64px;
    height: 55px;
    margin: 10px auto 15px;
    &:last-child {
      margin-bottom: 0;
    }
    &.play-button {
      width: 70px;
      height: 70px;
      background: $white url('../images/icons2x/triangle-white.png') no-repeat 68% 50%;
      background-size: 56%;
      border-radius: 50%;
      border: 2px solid $medium-gray;
      margin-top: 0;
      margin-bottom: 29px;
      &:hover {
        background: $blue url('../images/icons2x/triangle-white.png') no-repeat 68% 50%;
        background-size: 56%;
        border-radius: 50%;
      }
    }
    &.facebook {
      background-color: $facebook-blue;
      background-image: url('../images/icons2x/icon-facebook.png');
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center 11px;
      &:hover {
        background-color: darken($facebook-blue, 10%);
      }
    }
    &.twitter {
      background-color: $twitter-green;
      background-image: url('../images/icons2x/icon-twitter.png');
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: center 20px;
      &:hover {
        background-color: darken($twitter-green, 10%);
      }
    }
  }
}