.node-teaser {
  position: relative;
  float: left;
  width: 32.66%;
  height: 535px;
  margin-right: 1%;
  margin-bottom: 20px;
  border: 1px solid $medium-gray;
  background: $white;
  box-shadow: -3px 2px 12px -6px;
  .node {
    margin-top: 0;
    position: static;
  }
  .node-unpublished {
    background: $white;
  }
  .teaser-image-container {
    padding-bottom: 6px;
    &:hover {
      border-bottom: 6px solid $blue;
      padding-bottom: 0;
    }
  }
  .teaser-image {
    display: block;
    width: 100%;
    height: 220px;
    background-size: cover !important;
    background-position: 50% 30% !important;
  }
  &:nth-of-type(3) {
    margin-right: 0;
  }
  .node-title {
    font-family: $fc;
    font-size: 26px;
    margin: 17px 5% 13px;
    line-height: 29px;
  }
  .field-name-body {
    margin: 0 5% 7px;
    font-family: $fb;
    font-size: 16px;
    line-height: 23px;
    text-transform: none;
  }
  .unpublished {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 5px 3%;
  }
  .node-readmore {
    a {
      position: absolute;
      bottom: 15px;
      right: 15px;
      display: block;
      width: 110px;
      font-family: $fc;
      font-size: 18px;
      border: 1px solid $dark-gray;
      background: $white;
      color: $black;
      padding: 8px 0 4px;
      text-transform: uppercase;
      text-align: center;
      &:hover {
        background: $blue;
      }
    }
  }
}

.views-row {
  &:nth-child(3n) {
    .node-teaser {
      margin-right: 0;
    }
  }
}

.item-list {
  margin: 17px auto 80px;
  @include clearfix;
  .pager {
    li {
      font-family: $fb;
      margin-left: 2px;
      padding: 6px 2px 5px;
      color: $dark-gray;
    }
  }
}