.view {
  margin: 0;
  .view-title {
    display: inline-block;
    font-family: $fc;
    color: $white;
    background: $black;
    font-size: 45px;
    padding: 27px 40px 23px;
    margin: 40px 0 30px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
  }
}